<!-- Home Page of  html document -->
<!DOCTYPE html>
<html>

<!-- Using Responsive Components from Bootstrap -->
<head>
  <meta charset="utf-8">
  <title>Astronauts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>


<body>
  <!-- Navigation Bar definition  -->
    <nav class="navbar navbar-expand-xl navbar-light" >
      <a class="navbar-brand" href="index.html">Demystifying Machine Learning</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link mx-3" href="/index.html">Home   <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mx-3" href="/nasa.html">ISS Map  <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mx-3" href="/machine-learning.html">ML Results  <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>


  <!-- Dashboard Title  -->  
  <div class="container">
      <div class="col-md-12">
        <br>
        <p7>Dashboard</p7>
      </div>
      
    </div>
  </div>
  
  <!-- Charts  -->
  
    
  <!-- Military Background -->
  <div class="container">
  
    <div class="col-md-12">
      <div class='tableauPlaceholder' id='viz1595530277655' style='position: relative'><noscript><a href='#'><img alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;MBackground&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Astronauts_FinalProjectv1_15955066292100&#47;MBackground' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;MBackground&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' /></object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1595530277655'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
  </div>

  <!-- Birth Country -->
  <div class="container">
    <div class="col-md-12">
      <div class='tableauPlaceholder' id='viz1595525327908' style='position: relative'><noscript><a href='#'><img alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProject&#47;Dashboard_BirthCountry&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Astronauts_FinalProject&#47;Dashboard_BirthCountry' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProject&#47;Dashboard_BirthCountry&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' /></object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1595525327908'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
  </div>


  <!-- Gender -->
  <div class="container">
    <div class="col-md-12">
      <div class='tableauPlaceholder' id='viz1595530596714' style='position: relative'><noscript><a href='#'><img alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;MGender&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Astronauts_FinalProjectv1_15955066292100&#47;MGender' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;MGender&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' /></object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1595530596714'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
  </div>

  <!-- Space Flight by Group Number -->
  <div class="container">
    <div class="col-md-12">
      <div class='tableauPlaceholder' id='viz1595530038350' style='position: relative'><noscript><a href='#'><img alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;SFbyGN&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Astronauts_FinalProjectv1_15955066292100&#47;SFbyGN' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;SFbyGN&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' /></object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1595530038350'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1024px'; vizElement.style.height = '795px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
  </div>


  <!-- Flight Status -->

  <div class="container-fluid">
    
      <div class='tableauPlaceholder' id='viz1595530699651' style='position: relative'><noscript><a href='#'><img alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;FlightHR&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Astronauts_FinalProjectv1_15955066292100&#47;FlightHR' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;As&#47;Astronauts_FinalProjectv1_15955066292100&#47;FlightHR&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' /></object></div>
      <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1595530699651'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1600px'; vizElement.style.height = '927px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1600px'; vizElement.style.height = '927px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                
    
  </div>

  

  <!-- Education -->
  <div class="container-fluid">
  
    <div class='tableauPlaceholder' id='viz1595378488862' style='position: relative'><noscript><a href='#'><img alt=' '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ed&#47;Education_Project3_Cassie&#47;NoAstronautsbyUniversity&#47;1_rss.png'
            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='Education_Project3_Cassie&#47;NoAstronautsbyUniversity' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image'
          value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ed&#47;Education_Project3_Cassie&#47;NoAstronautsbyUniversity&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
        <param name='filter' value='publish=yes' /></object></div>
    <script
      type='text/javascript'>                    var divElement = document.getElementById('viz1595378488862'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </div>
  </div>

</body>

</html>